.name {
  position: absolute;
  left: 15%;
  right: 85%;
  top: 0;
  word-spacing: unset;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 55px;
  display: table-caption;

  /* Black */

  color: #070707;
}
.summary {
  position: absolute;
  left: 30%;
  right: 35%;
  top: 45px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  /* overflow: hidden; */
  max-width: 75ch;

  /* Black */

  color: #070707;
}
.languages {
  position: absolute;
  left: 65.07%;
  right: 5.26%;
  top: 150px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}
.profile-list {
  position: relative;
  /* display: flex; */
  list-style: none;
  width: 100%;
}
.spacer {
  flex: 1;
}
.profilepic {
  position: relative;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  top: 215px;
}
