.profile {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.center {
  display: inline-block;
  margin-left: 15%;
  margin-right: auto;
  width: 70%;
  left: 243px;
  top: 315px;
}
.name {
  position: relative;
  margin-left: 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 47.3392px;
  line-height: 55px;
  display: table-caption;
  /* Black */

  color: #070707;
}
.summary {
  position: relative;
  left: 5%;
  margin-top: 80px;
  margin-right: 20%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.languages {
  position: relative;
  margin-right: 5%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: black;
}
.techcard-media {
  height: 140px;
  align-content: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15%;
  margin-bottom: 15%;
  display: flex;
}
.root {
  position: relative;
  max-width: 200px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
