.profile {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.center {
  display: inline-block;
  margin-left: 15%;
  margin-right: auto;
  width: 70%;
  left: 243px;
  top: 315px;
}
.name {
  position: relative;
  margin-left: 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 47.3392px;
  line-height: 55px;
  display: table-caption;
  /* Black */

  color: #070707;
}
.profile_summary {
  position: relative;
  left: 5%;
  margin-top: 80px;
  margin-right: 20%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: black;
}
.languages {
  position: relative;
  margin-right: 5%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: black;
}
