.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.5 ease-out;
}
.side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.side-drawer a {
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  text-decoration: none;
}
.side-drawer.open {
  transform: translateX(0);
}
.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: orange;
}

.closeIcon {
  position: absolute;
  width: 22.87px;
  height: 22.24px;
  left: 10%;
  top: 30px;
}

.languages {
  margin: 0.5rem 0;
  bottom: 5%;
  position: fixed;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;

  color: #828282;
}
